<!DOCTYPE html>
<html>
  <%- include ./base.ejs %>
  <body>

    <article class="c-tile">
      <div class="c-tile__content">
        <div class="c-tile__body">
          <p class="c-heading-delta  u-margin-bottom-none">SkyKids</p>
          <p class="c-text-body">Welcome to SkyKids</p>
        </div>
      </div>
    </article>


    <p><%= product %></p>
    <p><%= description %></p>
    <p><%= price %></p>



    <ul>
      <% for(var i = 0; i < list.length; i++) { %>
        <li><%= list[i] %></li>
        <% } %>
    </ul>
  </body>
</html>
