<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:left;
}
</style>
</head>
<body>
  <div class="container">
    <h2> Pick List</h2>

    <table style="width:100%">
        <tr>
          <th> Order ID</th>
          <th> Date Crreated</th>
          <th> Shipping address</th>
          <th> Customer Id</th>
          <th> Order Status</th>
          <th> Action</th>

          <tr>
            <% for(var i = 0; i < orders.length; i++) { %>
              <tr >
              <td ><%= orders[i].customerId %></td>
              <td ><%= orders[i].dateCreated %></td>
              <td ><%= orders[i].shippingAddress %></td>
              <td ><%= orders[i].products %></td>
              <td ><%= orders[i].quantity %></td>
              <td ><%= orders[i].orderStatus %></td>
              </tr>
              <% } %>
          </tr>
          <td>
            <a href = "">Edit</a>
          </td>
    </table>
  <!-- }%> -->
  </div>
</html>
