<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:left;
}
</style>
</head>
<body>
  <div class="container">
    <h2> Pick List</h2>

    <table style="width:100%">
        <tr>
          <th> Customer Id</th>
          <th> Date Created</th>
          <th> Shipping address</th>
          <th>Products</th>
          <th> Quantity</th>
          <th> Order Status</th>
          <th> Action</th>

          <tr>
            <% for(var i = 0; i < orders.length; i++) {
              %>
              <tr >
              <td ><%= orders[i].customerId %></td>
              <td ><%= orders[i].dateCreated %></td>
              <td ><%= orders[i].shippingAddress %></td>
              <%
                var productsString = "";
                for(var j = 0; j < orders[i].products.length; j++){
                  var singleObject = orders[i].products[j];
                  for (property in singleObject) {
                    productsString += singleObject[property].product.productName;
                    productsString += ", ";
                  }
                }
                productsString = productsString.trim();
                productsString = productsString.slice(0, -1);
              %>
              <td ><%= productsString %></td>
              <td ><%= orders[i].quantity %></td>
              <td ><%= orders[i].orderStatus %></td>
            </tr>

            <%
              }
              %>
          </tr>
          <td>
            <a href = "">Edit</a>
          </td>
    </table>

  </div>
</html>
