extends ../layout

block content
    h1.
        Infophoto #{account._id}
    p First Name: #{account.firstName}
    p Last Name: #{account.lastName}
    p Email: #{account.email}
    p Password: #{account.password}
    p Confirm Password: #{account.confirmPassword}
    p Address: #{account.address}
    p Postcode: #{account.postcode}
    p Phone Number: #{account.phoneNumber}
    p DOB: #{account.dob}
